.account-container {
  max-width: 70%;
  margin: 100px 15% 0 15%;
  padding:  10px 20px 0 20px ;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.account-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.account-options {
  display: flex;
  flex-direction: column;
}

.account-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 12px 16px;
  border-radius: 0px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-bottom: 1px solid #ddd;
}

.account-item:hover {
  background-color: #e0e0e0;
}

.account-icon {
  font-size: 20px;
  margin-right: 10px;
}

.account-label {
  flex-grow: 1;
  font-size: 16px;
}

.account-arrow {
  font-size: 20px;
  color: gray;
}

.logout-section {
  text-align: center;
}

.logout-btn {
  margin: 10px 0px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.logout-btn:hover {
  background-color: #e60000;
}

.version-text {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}
