.footer {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px 60px 20px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}

/* Columns */
.footer-column {
  flex: 1;
  min-width: 200px;
}

/* Logo & Social */
.footer-logo-img {
  width: 120px;
  margin-bottom: 15px;
}

.footer-social-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
  margin-bottom: 20px;
}

/* Why Loom Text */
.footer-why-loom h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.footer-logo{
  color: #fff;
  width: 120px;
}
.footer-why-loom p {
  font-size: 14px;
  color: #bbb;
  line-height: 1.5;
}

/* Links */
.footer-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-column ul li:hover {
  color: #fff;
}

/* Bottom Copy */
.footer-copy {
  text-align: center;
  padding-top: 15px;
  font-size: 13px;
  color: #999;
}



/* .footer-container {
  background-color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px 40px;
  border-bottom: 10px solid #ddd;
}

.newsletter {
  display: flex;
  background-color: #000;
  color: #fff;
   height: 150px;
  border-radius: 12px;
}
.newsletter-text h2 {
    justify-content: center;
    text-align: left;
    
    padding: 2px 45px;
    font-weight: bold;
    font-size: 44px;
    line-height: 1;
}

.newsletter-form {
    margin: 5px 50px 0px 95px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter-form input {
    color: black;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    font-size: 14px;
    width: 260px;
    padding: 11px 16px;
}

.newsletter-form button {
    color: black;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    font-size: 14px;
    width: 300px;
    padding: 11px 16px;
    cursor: pointer;
    transition: 1.03;
}

.newsletter-form button:hover {
  background-color: #e5e5e5;
}

.footer-bottom {
    margin-top: 40px;
    display: flex
;
}

.footer-brand {
  min-width: 200px; 
}

.footer-brand h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-brand p {
    padding: 0px 53px 0px 0px;
    font-size: 13px;
    color: #555;
    max-width: 260px;
    cursor: pointer;
}

.footer-columns {
  display: flex;
  gap: 140px;
  justify-content: space-between;
  display: flex;
}

.footer-column h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 25px;
}
.footer-column ul li {
  margin-bottom: 10px;
  font-size: 13px;
  color: #555;
  cursor: pointer;
}
 */
