
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: white;
    transition: all 0.4s ease,  opacity 0.3s ease, background-color 0.3s ease;
    transform: translateY(0);
    opacity: 1;
    z-index: 1000;
}

.navbar.transparent-bg {
  background-color: transparent;
  border-bottom: none;
  box-shadow: none;
  box-shadow:  0 4px 6px -4px rgba(0, 0, 0, 0.2);   /* bottom shadow */
}
.navbar.solid-bg {
  background-color: white;
  border-bottom: 1px solid #ddd;
}
.navbar.slide-up{
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.three-line{
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.menu-wrapper {
  position: relative;
  display: inline-block;
}
.menu-dropdown {
  flex-direction: column;
  position: absolute;
  top: 35px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.85); /* solid dark background */
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.menu-wrapper:hover .menu-dropdown,
.menu-dropdown:hover{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-delay: 0s;
}
.menu-dropdown:not(:hover) {
  transition-delay: 0.5s; /* hide after 0.5s */
}

.menu-item {
  color:white ;
  padding: 10px 15px 10px 20px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2); /* subtle white overlay */
  transition: background-color 0.2s ease;
}

.menu-wrapper:not(:hover):not(:has(.menu-dropdown:hover)) .menu-dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 0.2s;
}

.nav-logo {
    margin: 0px 78px 0px 475px;
    width: 205px;
    height: 55px;
  }

.search-box {
    border: none;
    width: 230px;
    height: 45px;
    padding: 0px 20px;
    border-radius: -18px;
    background-color: #0000001a;
}

.cart-icon {
  position: relative;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s;
}
.cart-icon:hover {
  transform: scale(1.1);
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color:black;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.emoji-pic{
    display: flex;
}
