.top-selling-section {
    background-color: #fff;
    padding: 40px 100px;
     box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}
 
.top-selling-heading {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.top-selling-grid {
  display: grid;
  grid-template-columns: repeat(5, 0fr );
  gap: 10px;
}

